@import "tailwindcss";
@import "./linux-buttons.css";

.linux {
	--window-radius: 12px;
	--window-bg-color: #fafafa;
	--window-fg-color: rgba(0, 0, 0, 80%);
	--view-bg-color: #fff;
	--view-fg-color: rgba(0, 0, 0, 80%);

	--card-bg-color: #fff;
	--card-fg-color: rgba(0, 0, 0, 80%);
	--card-shade-color: rgba(0, 0, 0, 7%);

	font-family: "Cantarell", "Mulish", sans-serif;
}

.dark .linux {
	--window-bg-color: #242424;
	--window-fg-color: #fff;
	--view-bg-color: #1e1e1e;
	--view-fg-color: #fff;

	--card-bg-color: rgba(255, 255, 255, 8%);
	--card-fg-color: #fff;
	--card-shade-color: rgba(0, 0, 0, 36%);
}

.linux .window {
	@apply duration-700;
	border-radius: var(--window-radius);
	background-color: var(--window-bg-color);
	color: var(--window-fg-color);
	box-shadow: black 0px 0px 25px 0px;
}

.linux .headerbar {
	@apply flex items-center p-2;
}

.linux .tabswitcher {
	@apply flex items-center gap-1;
}

.linux .tabswitcher button {
	@apply w-32 justify-center;
}

.linux .remixicon {
	@apply w-5 h-5;
}

.linux .windowcontrolbtns {
	@apply flex gap-4;
}

.linux .windowcontrolbtns button {
	@apply bg-[#fafafa] dark:bg-[var(--card-bg-color)] aspect-square rounded-full p-1;
}

.linux .boxed-list {
	@apply bg-[var(--card-bg-color)] rounded-2xl;
}

.linux .boxed-list > * {
	@apply rounded-2xl;
}

.linux .separator {
	@apply bg-[var(--card-shade-color)] h-[1px];
}
