@import "tailwindcss";
@import "./styles/button.css";
@import "./styles/navbar.css";
@import "./styles/linux/linux-style.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-background: #f0f8ff;
	--color-primary: #51b9f6;
	--color-on-primary: #000;
	--color-foreground: #000;
	--color-border: #adadad;
	--default-font-family: "Mulish", sans-serif;
}

.dark {
	--color-background: #0c0c0c;
	--color-primary: #08659b;
	--color-on-primary: #8bd0f9;
	--color-foreground: #fff;
	--color-border: #3d3d3d;
}

@font-face {
	font-family: "Mulish";
	src: url("./assets/fonts/Mulish-VariableFont_wght.ttf");
	italic: url("./assets/fonts/Mulish-Italic-VariableFont_wght.ttf");
}

@font-face {
	font-family: "Cantarell";
	src: url("./assets/fonts/Cantarell-VF.otf");
}
